.default-card {
  height: 100%;
  width: 100%;
  background-color: #171e28;
  border-radius: 30px;
  padding: 32px;
}

.default-card header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #252d37;
  border-radius: 25px;
  margin-bottom: 32px;
}

.default-card section h2 {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.4px;
}
