.feedback-answer-card {
  display: none;
  height: 415px;
  width: 412px;
  background-color: #171e28;
  border-radius: 30px;
  padding: 32px;
}

.feedback-answer-card.visible {
  display: block;
}

.feedback-answer-card section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-results {
  margin-bottom: 33px;
}

.feedback-results img {
  width: 162px;
  margin: 13px 7px 33px 0;
}

.feedback-results div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ca7e0c;
  background-color: hsl(213deg 19% 18%);
  border-radius: 100px;
  padding: 7px 20px 6px;
}

.answer-thanks h2 {
  color: #fff;
  font: 400 28px Overpass, sans-serif;
  letter-spacing: 0.4px;
  margin-bottom: 11px;
}

.answer-thanks p {
  color: #959eac;
  text-align: center;
  line-height: 1.6;
  padding: 0 3px;
}
