.feedback-card {
  height: 415px;
  width: 412px;
  background-color: #171e28;
  border-radius: 30px;
  padding: 32px;
}

.feedback-card.hidden {
  display: none;
}

.feedback-card header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #252d37;
  border-radius: 25px;
  margin-bottom: 32px;
}

.feedback-description h2 {
  color: #fff;
  font: 400 28px Overpass, sans-serif;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.feedback-description p {
  color: #7c8798;
  line-height: 24px;
  margin-bottom: 27px;
}

.rate-menu {
  display: flex;
  gap: 23px;
  margin-bottom: 32px;
}

.feedback-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #7c8798;
  background-color: #252d37;
  font: 700 16px Overpass, sans-serif;
  border-radius: 25px;
  cursor: pointer;
}

.feedback-rating.toggle {
  color: #fff;
  background-color: #fb7413;
}

.feedback-rating:hover {
  color: #fff;
  background-color: #959eac;
}

.feedback-submit {
  width: 98.2%;
  color: #fff;
  background-color: #fb7413;
  font: 400 15px Overpass, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 150px;
  padding: 15px 0 11px;
  cursor: pointer;
}

.feedback-submit:active {
  color: #fb7413;
  background-color: #fff;
}

@media all and (max-width: 485px) {
  .feedback-card {
    width: 327px;
    height: 360px;
    border-radius: 15px;
    padding: 25px;
  }

  .feedback-card header {
    height: 40px;
    width: 40px;
    margin-bottom: 18px;
  }

  .feedback-description h2 {
    font: 400 23px Overpass, sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    margin-bottom: 12px;
  }

  .header-star {
    width: 14px;
  }

  .feedback-description p {
    font: 400 14px Overpass, sans-serif;
    word-spacing: 0.2px;
    line-height: 22px;
  }

  .rate-menu {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  .feedback-rating {
    height: 42px;
    width: 44px;
    font: 700 14px Overpass, sans-serif;
    border-radius: 100px;
    padding-top: 5px;
  }

  .feedback-submit {
    width: 100%;
    font: 400 14px Overpass, sans-serif;
    padding: 15px 0 13px;
  }
}
